@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap');

body {
    text-align: center;
    font-family: "Poppins",sans-serif;
    overflow: hidden;
}

.btn {
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 4px solid black;
    margin: 1rem;
}

h3 {
    font-weight: 500;
}

.btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.yellow {
    background-color: #f99b45;
}

.red {
    background-color: #d95980;
}

.purple {
    background-color: #819ff9;
}

.green {
    background-color: #63aac0;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: green;
}

.high-score {
    font-size: 1.15rem;
}

.start-btn {
    margin: 1rem;
    position: relative;
    display: none;
}


@media screen and (max-width: 400px) {
    .btn {
        height: 120px;
        width: 120px;
        border-radius: 20%;
        border: 4px solid black;
        margin: 1rem;
    }
    .start-btn {
        display:inline;
        margin-top: 1.5rem;
        padding: 5px 10px;
        background-color: #CBFFA9;
        border-radius: 10px;
        text-align: center;
        margin: 200px auto;
        color: black;
        letter-spacing: 1px;
        font-size: 1.2rem;

    }
}

@media screen and (max-width: 350px) {
    .btn {
        height: 100px;
        width: 100px;
        border-radius: 20%;
        border: 4px solid black;
        margin-top: 1.5rem;
    }
    .start-btn {
        display:inline;
        margin-top: 1.5rem;
        padding: 5px 10px;
        background-color: #CBFFA9;
        border-radius: 10px;
        text-align: center;
        margin: 200px auto;
        color: black;
        letter-spacing: 1px;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 300px) {
    .btn {
        height: 90px;
        width: 90px;
        border-radius: 20%;
        border: 4px solid black;
        margin: 0.75rem;
    }
    .start-btn {
        display:inline;
        margin-top: 1.5rem;
        padding: 5px 10px;
        background-color: #CBFFA9;
        border-radius: 10px;
        text-align: center;
        margin: 200px auto;
        color: black;
        letter-spacing: 1px;
        font-size: 1.2rem;

    }
}